<footer class="fixed-bottom py-2" style="background-color: #629ecf";>
  <div class="container">
    <div class="row justify-content-center text-center text-md-center">
      <div class="col-md-3">
        <h5>Site Map</h5>
        <ul class="list-unstyled">
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/features">Features</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Follow Us</h5>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Contact</h5>
        <p>Email: info@kickash.com</p>
        <p>Phone: +1 123 456 7890</p>
      </div>
    </div>
  </div>
  <div class="text-center">
    <p>&copy; 2023 Kickash. All rights reserved.</p>
  </div>
</footer>