<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS Section -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/Content/app.css">
</head>
<body>
  <!-- Header -->
  <header>
    <%- include('./components/header.ejs'); %>
  </header>

  <!-- Main Content-->
  <main class="mt-5 pt-5">
    <%- include('./content/' + page + '.ejs'); %>
  </main>
  
  <!-- Footer -->
  <footer>
    <%- include('./components/footer.ejs'); %>
  </footer>

  <!-- Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>
