<div class="container">
  <h1 class="text-center">About Us</h1>
  <div class="container p-3">
    <h1 class="text-center display-4 mb-3">Team Byte Force</h1>

    <h3 class="text-center fs-3 mb-5">(WHO WE ARE!)</h3>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <!-- Subash div -->
      <div class="col">
        <div class="card shadow-sm custom-color">
          <img
            src="Assets/images/subash.jpg"
            class="card-img-top rounded-circle mx-auto mt-4"
            alt="subash"
            style="width: 128px; height: 128px"
          />
          <div class="card-body text-center">
            <h2 class="card-title font-weight-bold">Subash Aryal</h2>
            <p class="card-text text-secondary">Lead Software Engineer(LSE)</p>
          </div>
        </div>
      </div>

      <!-- Kossy div -->
      <div class="col">
        <div class="card shadow-sm custom-color">
          <img
            src="Assets/images/kossy.jpg"
            class="card-img-top rounded-circle mx-auto mt-4"
            alt="kossy"
            style="width: 128px; height: 128px"
          />
          <div class="card-body text-center">
            <h2 class="card-title font-weight-bold">Kosisochukwu Abone</h2>
            <p class="card-text text-secondary">Lead App Designer</p>
          </div>
        </div>
      </div>

      <!-- Jason div -->
      <div class="col">
        <div class="card shadow-sm custom-color">
          <img
            src="Assets/images/json.jpg"
            class="card-img-top rounded-circle mx-auto mt-4"
            alt="json"
            style="width: 128px; height: 128px"
          />
          <div class="card-body text-center">
            <h2 class="card-title font-weight-bold">Jason Chan</h2>
            <p class="card-text text-secondary">Web Designer</p>
          </div>
        </div>
      </div>

      <!-- Ilham div -->
      <div class="col">
        <div class="card shadow-sm custom-color">
          <img
            src="Assets/images/ilham.jpg"
            class="card-img-top rounded-circle mx-auto mt-4"
            alt="ilham"
            style="width: 128px; height: 128px"
          />
          <div class="card-body text-center">
            <h2 class="card-title font-weight-bold">Ilham Sheikh</h2>
            <p class="card-text text-secondary">Project Manager</p>
          </div>
        </div>
      </div>

      <!-- Suraj Div -->
      <div class="col">
        <div class="card shadow-sm custom-color">
          <img
            src="Assets/images/suraj.jpg"
            class="card-img-top rounded-circle mx-auto mt-4"
            alt="suraj"
            style="width: 128px; height: 128px"
          />
          <div class="card-body text-center">
            <h2 class="card-title font-weight-bold">Suraj Subedi</h2>
            <p class="card-text text-secondary">Technical Artist</p>
          </div>
        </div>
      </div>

      <!-- Rahul div -->
      <div class="col">
        <div class="card shadow-sm custom-color">
          <img
            src="Assets/images/rahul.jpg"
            class="card-img-top rounded-circle mx-auto mt-4"
            alt="rahul"
            style="width: 128px; height: 128px"
          />
          <div class="card-body text-center">
            <h2 class="card-title font-weight-bold">Rahul Gupta</h2>
            <p class="card-text text-secondary">Generalist Programmer</p>
          </div>
        </div>
      </div>

      <!-- Gautam Div -->
      <div class="col">
        <div class="card shadow-sm custom-color">
          <img
            src="Assets/images/gautam.jpg"
            class="card-img-top rounded-circle mx-auto mt-4"
            alt="gautam"
            style="width: 128px; height: 128px"
          />
          <div class="card-body text-center">
            <h2 class="card-title font-weight-bold">Gautam Sai Guntupalli</h2>
            <p class="card-text text-secondary">DB/Security Programmer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- css part -->
<style>
  .custom-color {
    background-color: #FEF7FF;
  }
  .card-title {
    font-size: 20px;
  }
  .card {
    border-radius: 5%;
  }
  .mt-4 {
    border: 5px solid rgb(209, 161, 213);
  }
</style>
