<div class="container primary-background p-3">
      <div class="row">
            <div class="col-12 col-md-6">
                  <h1>Contact Us</h1>
                  <p>Find us on one of the following social media platforms:</p>
            </div>
      </div>
      <div class="row mb-4">
            <div class="col-8 col-md-4">
                  <div class="row">
                        <div class="col-3 image-icon">
                              <a href="#">
                                    <img src="Assets/images/social-media/facebook-logo.png" alt="Facebook Link" class="img-fluid">
                              </a>
                        </div>
                        <div class="col-3 image-icon">
                              <a href="#">
                                    <img src="Assets/images/social-media/twitter-logo.png" alt="Twitter Link" class="img-fluid">
                              </a>
                        </div>
                        <div class="col-3 image-icon">
                              <a href="#">
                                    <img src="Assets/images/social-media/instagram-logo.png" alt="Instagram Link" class="img-fluid">
                              </a>
                        </div>
                        <div class="col-3 image-icon">
                              <a href="#">
                                    <img src="Assets/images/social-media/linkedin-logo.png" alt="LinkedIn Link" class="img-fluid">
                              </a>
                        </div>
                  </div>
            </div>
      </div>
      <div class="row mb-4">
            <div class="col-12 col-md-6">
                  <p>Got a question for us? Leave us your contact information and inquiry here:</p>
                  <span><span class="warning-text">*</span> = required</span>
                  <form action="" class="inquiry-form">
                        <div class="form-group">
                              <label for="emailInput">Email <span class="warning-text">*</span></label>
                              <input type="email" class="form-control" id="emailInput" placeholder="Email">
                        </div>
                        <div class="form-group">
                              <label for="nameInput">Name</label>
                              <input type="text" class="form-control" id="nameInput" placeholder="Name">
                        </div>
                        <div class="form-group">
                              <label for="inquiryInput">Inquiry <span class="warning-text">*</span></label>
                              <textarea class="form-control" id="inquiryInput" placeholder="Enter your inquiry here..."></textarea>
                        </div>
                        <button type="submit" class="btn">Submit</button>
                  </form>
            </div>
      </div>
</div>