<div class="container p-5 pt-3 mb-4">
      <div class="row justify-content-center align-items-center">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                  <div class="maincontent mb-3">
                        <h1 class="text-heros-title">
                              Embrace a Smoke-Free Life: Your Path to Freedom Starts Here!
                        </h1>
                        <p class="text-secondary primary-font font-size-1dot5rem">Click here to take a step towards your goal.</p>
                  </div>
                  <img src="Assets/images/playstore.png" class="img-fluid" alt="Play Store" style="max-height: 80px; width: 180px; margin-left: auto; margin-right: auto;">
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                  <img src="Assets/images/Home page.png" class="img-fluid ProgressImage" alt="Progress bar for quitsmoking, Kwit" style="max-height: 400px; width: 400px; margin-top: 10%;">
            </div>
      </div>
</div>


<div class="container">
      <div class="row align-items-center">
            <div class="col-12 text-center pb-2">
                  <h2>Shortcuts may lead to dead ends, but determination will find a way.</h2>
            </div>
      </div>
</div>