<div class="homecontainer">
      <div class="Home-row-container align-items-centre">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                  <div class="maincontent">
                        <h1 class="text-heros-title">
                              Embarace a Smoke-Free Life: Your Path to Freedom Starts Here!
                        </h1>
                        <p class="text-secoundary font-size1dot5rem"> click here to go a step towards your Goal</p>
                  </div>
                  <img src="Assets/images/playstore.png" style="height: 80px; width: 180px; margin-left: 100px;">
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                  <img alt="Progress bar for quitsmoking, Kwit" src="Assets/images/Home page.png" style ="height: 400px; width: 400px; margin-right: 100px;top: 10%;" class="ProgressImage">
            </div>   
      </div>
</div>

<div class="Information container" style="margin-top: 30px;">
      <div class="row align-items-centre information1">
            <h2> Shortcuts may lead to dead ends, but determination will find a way.</h2>
      </div>
</div>

