<div class="container p-5 pt-3 mb-4">
      <div class="row justify-content-center align-items-center">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                  <div class="maincontent mb-3">
                        <h1 class="text-heros-title">
                              Embrace a Smoke-Free Life: Your Path to Freedom Starts Here!
                        </h1>
                        <p class="text-secondary primary-font font-size-1dot5rem">Click here to take a step towards your goal.</p>
                  </div>
                  <img src="Assets/images/playstore.png" class="img-fluid" alt="Play Store" style="max-height: 70px; width: 220px; margin-left: auto; margin-right: auto;">
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                  <img src="Assets/images/DashboardEmulator.png" class="img-fluid ProgressImage" alt="Progress bar for quitsmoking, Kwit" style="max-height: 450px; width: 270px; margin-top: 10%;">
            </div>
      </div>
</div>

<div class = "row image-container">
      <img src="Assets/images/HomePageImage2.jpeg" class="img-fluid col-md-4">
      <div class="col-md-3 text-center" style="color: #6750A4;">
            <h2>Shortcuts may lead to dead ends, but determination will find a way.</h2>
      </div>
      <img src="Assets/images/HomePageImage3.webp" class="img-fluid col-md-4">
</div>

<div class="row image-container" style="margin-top: 20px;">
      <img src="Assets/images/HomePageImage4.jpeg" class="img-fluid col-md-4">
</div>


<div class="container" style="margin-top: 30px;">
      <div class="row align-items-center">
            <div class="col-12 text-center pb-2" style="color: #6750A4; font-size: larger;">
                  <h1>Empower Yourself! Break Free from Smoking with KickAsh</h1>
                  <div class="row align-items-center information2">
                        <h3 class="text-center" style="font-size: small;"> Following information will be assured in the application</h3>
                  </div>
<div class="services" style="margin-top: 100px;">
      <div class=" Servicecontainer">
            <div class="row align-items-centre HeartMonitoring">
                  <img
                  src="Assets/images/Heartrate.png"
                  class="cell-image mx-auto mt-4"
                  alt="Heart Rate monitoring"
                  style="width: 200px; height: 170px;"
                  />
                  <div class="body text-center">
                        <h2 class="text-center"> Heart Rate Tracking</h2>
                        <p class="HeartDescription">Through our application we will keep 
                              track of your heart and alarms the heart user if 
                              the heart rate drops</p>
                  </div>
            </div>
      </div>
      <div class=" Servicecontainer " style="margin-top: 50px;">
            <div class="row align-items-centre Cigarattetracker">
                  <img
                  src="Assets/images/cigaratte lite.png"
                  class="cell-image mx-auto mt-4"
                  alt="Puffs tracked"
                  style="width: 200px; height: 170px;"
                  />
                  <div class="body text-center">
                        <h2 class="text-center"> we will track number of cigarattes you smoked</h2>
                        <p class="Smoke  Tracker">Tracking smoked cigarettes refers to the practice of monitoring</p>
                        <p>and recording the number of cigarettes a person smokes over a certain period of time.</p>
                        <p>we will track the portion of cigarattes consumed and track the improvement.</p>
                  </div>
            </div>
      </div>
      <div class=" Servicecontainer " style="margin-top: 50px;">
            <div class="row align-items-centre Motivationsupport">
                  <img
                  src="Assets/images/Motivation.png"
                  class="cell-image mx-auto mt-4"
                  alt="Motivationsupport"
                  style="width: 220px; height: 170px;"
                  />
                  <div class="body text-center">
                        <h2 class="text-center"> Even a small Quote may Lead you to Success</h2>
                        <p class="Description">Remember, everyone's journey to quit smoking is unique, and finding personal</p>
                        <p>motivations that resonate with you is crucial. It's important to seek support from healthcare </p>
                        <p>professionals, counselors, support groups, or helplines dedicated to smoking cessation to increase your chances of success.</p>
                        <p>so our application helps you to keep in touch with all the facilities to ensure your success.</p>
                  </div>
            </div>
      </div>
</div>

<style>
      .image-container{
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;
            margin-left: 30px;
            justify-content: center;
      }
</style>
