
<div class="container primary-background p-3 mb-5">
  <div class="row">
    <div class="col-xs-12">
      <h1>Our Services</h1>
    </div>
  </div>

  <div class="card primary-background border-0">
  <div class="row description-container g-0">
    <div class="col-md-4 col-xs-12 d-flex align-items-center justify-content-center">
      <div class="image-container-md">
        <img src="Assets/images/service-images/kickashlanding.png" alt="" class="img-fluid">
      </div>
    </div>
    <div class="col-md-8 col-xs-12">
      <h2>Mobile Application Development</h2>
      <p>Our team is experienced in building native apps in both Android and iOS systems, as well as cross-platform apps using React Native.</p>
      <p>Having trouble with turning your ideas into an app? We can also help you with the design process and visualize your ideas for you.</p>
      <a href="projects" class="btn btn-primary" role="button">Take a look at our app here</a>
    </div>
  </div>
</div>
    
  <div class="card primary-background border-0">
  <div class="row description-container g-0">
    <div class="col-md-6 col-xs-12 order-2 order-md-1">
      <h2>Website Design</h2>
      <p>Our team can also help you design your website's UI according to your needs and your user's site experience.</p>
      <p>We are experienced in building reponsive websites, and your site will look just right to your users whether they're on a mobile device or on desktop.</p>
    </div>
    <div class="col-md-6 col-xs-12 order-1 order-md-2 d-flex align-items-center justify-content-center">
      <div class="image-container-lg">
        <img src="Assets/images/service-images/website-responsive-demo.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
  </div>

  <div class="card primary-background border-0">
  <div class="row description-container g-0">
    <div class="col-md-4 col-xs-12 d-flex align-items-center justify-content-center">
      <div class="image-container-md">
        <img src="Assets/images/service-images/development-illustration.jpeg" alt="" class="img-fluid">
      </div>
    </div>
    <div class="col-md-8 col-xs-12">
      <h2>End-to-End Solutions</h2>
      <p>Our team can also help you turn your ideas into a reality by helping you through each steps of the project development process, from project specifications to the real web application you want.</p>
      <a href="contact" class="btn btn-primary" role="button">Contact us to get started</a>
    </div>
  </div>
  </div>
  
  </div>