

<div class="container v-100">
  <div class="row description-container py-3" >
    <div class="col-md-6 col-xs-12 d-flex align-items-center justify-content-center">
      <div class="image-container-md">
        <img src="Assets/images/service-images/kickashlanding.png" alt="" class="img-fluid">
      </div>
    </div>
    <div class="col-md-6 col-xs-12 p-5">
      <h2>Mobile Application Development</h2>
      <p>Our team is experienced in building native apps in both Android and iOS systems, as well as cross-platform apps using React Native.</p>
      <p>Having trouble with turning your ideas into an app? We can also help you with the design process and visualize your ideas for you.</p>
      <a href="projects" class="btn btn-dark" role="button">Take a look at our app here</a>
    </div>
  </div>
</div>
    
  <div class="row description-container py-5 mt-5" style="background-color: white;">
    <div class="col-md-6 col-xs-12 order-2 order-md-1 p-5">
      <h2>Website Design</h2>
      <p>Our team can also help you design your website's UI according to your needs and your user's site experience.</p>
      <p>We are experienced in building reponsive websites, and your site will look just right to your users whether they're on a mobile device or on desktop.</p>
    </div>
    <div class="col-md-6 col-xs-12 order-1 order-md-2 d-flex align-items-center justify-content-center">
      <div class="image-container-lg">
        <img src="Assets/images/service-images/website-responsive-demo.png" alt="" class="img-fluid"style="height: 250px; width: 800px;">
      </div>
    </div>
  </div>

  <div class="row description-container py-3 mt-5">
    <div class="col-md-6 col-xs-12 d-flex align-items-center justify-content-center">
      <div class="image-container-md">
        <img src="Assets/images/service-images/development-illustration.jpeg" alt=""class="img-fluid"style="height: 270px; width: 800px;">
      </div>
    </div>
    <div class="col-md-6 col-xs-12 p-5" >
      <h2>End-to-End Solutions</h2>
      <p>Our team can also help you turn your ideas into a reality by helping you through each steps of the project development process, from project specifications to the real web application you want.</p>
      <a href="contact" class="btn btn-dark" role="button">Contact us to get started</a>
    </div>
  </div>
  </div>
  
  </div>
</div>


  